.korobka{
    color: white;
    background-color: black;
    text-align: center;
    height: 300px;
    width: 300px;
    margin: 100px;
    border-radius: 100% 
}
.dflex{
    display: flex;
    background-color: rgb(155, 113, 194);
}