body{
    margin:0;
    background-color: #310844;
    }
    .sectionhero{
        background-color: #310844;
    }
    .korobka0{
        color:#ffcd8a;
        background-color: #310844; 
        text-align: center;
        height: 100vh;
        width: 100%;
        margin: 0 15px 0 15px;
        display: flex;
        align-items: center;
        justify-self: center;
        h1{
            font-size: 100px;
        }
    }
    
    .korobka{
        color:#ffcd8a;
        background-color: #310844; 
        text-align: center;
        height: 100vh;
        width: 100%;
        margin: 0 20px 0 20px;
        align-items: center;
        h1{
            font-size: 100px;
        }
    
    }
    img{
        width: 400px;
        height: 400px;
        
    }
    .dflex{
        display: flex;
    }
    .btn{
        background-color:#310844;
        color: #ffcd8a;
        font-size: 50px;
        text-decoration:none;
        padding: 10px 30px;
        margin: 0 0 5px 5px ;
    }
nav{
    height: 90px;
    display: flex;
    align-items: center;
    padding-left: 50px;
    background-color: #310844;
}
 .link{
    font-size: 20px;
    margin: 0 0 0 50px;
    color: #806453;
    cursor: pointer;
    text-decoration: none;
}
.logo{
    cursor: pointer;
    font-size: 30px;
    color: #b185db;
    font-weight: 600;
    border: 1px ;
    padding: 10px 60px;
}
.btn_krasiviy{
    background-color: #fef9cf;
    color: #a56da6;
    padding: 7px 30px;
    font-size: 25px;
    border-radius: 30px;
    cursor: pointer;
}
.btn_krasiviy:hover{
    background-color:#f2e682;
    color: #bca4e3;
    box-shadow: 0 0 2px 2px
}
.korobka1{
    color: #ffcd8a;
	background-color: #310844; 
	text-align: center;
	height: 100vh;
	width: 100%;
    h1{
        font-size: 100px;
    }
}
.korobka12{
    color:#ffcd8a;
	background-color: #310844; 
	text-align: center;
	height: 100vh;
	width: 100%;
    h1{
        font-size: 100px;
    }
    h2{
        font-size: 24px;
      }
}
.korobka2{
    color:#ffcd8a;
	background-color: #310844; 
	text-align: center;
    width: 100%;
    img{
        rotate: 10deg;
    z-index: 5;
    position: absolute;
    top: 200px;
    height: 400px;
    width: 300px;
    left: calc(50% + 200px );
    background-color: #e2dfd5
}
    }
}
.korobka3{
	color: #bc8c4d;
	background-color: #310844; 
	text-align: center;
	height: 200vh;
	width: 100%;
    margin: 0 20px 0 20px;
    align-items: center;
    h1{
        font-size: 100px;
    }
    h2{
        font-size: 40px;
    }
    h3{
        font-size: 20px;
    }
}
.btn1{
    background-color:#ffcd8a;
    color: #b8915f;
    font-size: 50px;
    text-decoration:none;
    padding: 10px 30px;
}
