nav{
    height: 90px;
    display: flex;
    align-items: center;
    padding-left: 50px;
    background-color: #5c412d;
}
 .link{
    font-size: 20px;
    margin: 0 0 0 50px;
    color: #806453;
    cursor: pointer;
    text-decoration: none;
}
.logo{
    cursor: pointer;
    font-size: 30px;
    color: #b185db;
    font-weight: 600;
    border: 1px ;
    padding: 10px 60px;
}
.btn_krasiviy{
    background-color: #fef9cf;
    color: #a56da6;
    padding: 7px 30px;
    font-size: 25px;
    border-radius: 30px;
    cursor: pointer;
}
.btn_krasiviy:hover{
    background-color:#f2e682;
    color: ;
    box-shadow: 0 0 3px 3px
}
